.gradient-btn {
    padding: 30px 118px;
    border: none;
    background-image: linear-gradient(to right, #d47e1e, #dc9322);
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: black;
    }
}