.hooper-next {

    @include phones {
        top: -46px  !important;
        left: 159px  !important;
    }
}

.hooper-prev {
    
    @include phones {
        top: -46px  !important;
        left: 87px  !important;
    }
}

.hooper-slide {
    @include phones {
        padding-right: 30px !important;
        padding-left: 30px !important;
       width: 100% !important;
    }
}