.iconed-link {
    display: flex;
    margin-top: 45px;

    @include tablets {
        justify-content: center;
    }

    @include phones {
        justify-content: initial;;
      }
}

.iconed-link-icon {
    fill: #576ed2;
    width: 16px;
    height: 16px;
    margin-right: 20px;
}

.iconed-link__text {
    font-size: 18px;
    font-weight: bold;
    color: #576ed2;
}