.teacher-social {
    &-content {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        p {
            opacity: 0.3;
            font-weight: 700;
        }
    }

    &-pic {
        padding-right: 30px;
    }

    &-title {
        white-space: nowrap;
        font-weight: 700;
    }
}