.welcome-section {
    position: relative;
    // height: 100vh;
    background: url('~images/content/bg_1.jpg');
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
