//- script(type="text/x-template")#Flickity
//-     .reviews
//-         .reviews__header
//-         .reviews__title.section-title Что обо мне говорят ?
//-         .reviews__buttons 
//-             .reviews__btn
//-             .reviews__btn_prev
//-             .reviews__btn_next
//-         .reviews__content
//-         ul.reviews__content-item
//-             li.reviews__content-item-text
//-                 p Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
//-                 a(href="#").reviews__social.teacher-social
//-                 .teacher-social-pic
//-                     +image("content/Kovalchuk.png", "teacher-social-icon")
//-                 .teacher-social-content
//-                     h4.teacher-social-title Ковальчук Дмитрий
//-                     p Основатель Loftschool
//-             li.reviews__content-item-text
//-                 p Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах. 
//-                 a(href="#").reviews__social.teacher-social
//-                 .teacher-social-pic
//-                     +image("content/Sibancev.png", "teacher-social-icon")
//-                 .teacher-social-content
//-                     h4.teacher-social-title Владимир Сабанцев
//-                     p Преподаватель